body {
  font-size: 0.8em;
/* color: #333; */
/* background-color: rgb(200, 225, 250); */
}

h1 {
  font-size: 1.7em;
  color: #666;
}

img {
  border: none;
}
img.icon {
  padding: 2px;
}

#content {
  width: auto;
  padding: 10px 30px;
  margin: 10px 5%;
  line-height: 1.5;
}
a {
  color: #47c;
  text-decoration: none;
}
/* 
a:visited {
  color: #93c;
}
*/
a:hover {
  text-decoration: underline;
}

div.post {
  clear: both;
  padding: 10px 1px 21px;
  border-top: 1px dotted #ccc;
}
div.paused {
  background-color: #ff9;
}
div.post:hover {
  background-color: #ffc;
}
div.paused:hover {
  background-color: #ff8;
}

#post_form {
  margin-bottom: 10px;
}
#post_submit, .post_save {
  position: relative;
  top: 0px;
}
.post_text {
  margin: 0px;
  padding-bottom: 4px;
}
.post_meta {
  margin: 0px 0px 3px 0px;
  color: #999;
  font-size: 0.8em;
  float: left;
}
.post_meta a {
  color: #999;
}
.post_controls {
  margin: 0;
  float: right;
}
.post_chars {
  color: #ccc;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: 45px;
  left: -117px;
}
#post_chars {
  left: -50px;
  display: none;
}
.post_form_icon {
  float: right;
}

#footer {
  margin-top: 30px;
  color: #999;
  font-size: 0.85em;
}
#footer a {
  color: #999;
}
