# Spoor settings (cf. spoor.conf)
url = https://spoor.example.com
username = gavin
password = sekrit

# Target settings
[ delicious ]
tag = bm
username = gavincarr
password = sekret1

[ identica ]
tag = i
process_post = s/ #bm\b.*$//
username = gavincarr
password = sekret2

[ twitter ]
tag = t
process_post = s/ #bm\b.*$//
spoor_oauth_key = OSgoKkXmTG14NN0gPvDQg
spoor_oauth_secret = fYfSmeFyJtRr6YAvGyB5bMdU0WEcACH8Zzds1XQX8
access_token = blahblahblah
access_token_secret = foobarfoobar

