# Spoor settings (cf. spoor.conf)
url = http://spoor.example.com

# Target settings
[ identica ]
tag = i
process_post = s/ #bm\b.*$//
# Use username/password if using Basic Authentication
username = gavincarr
password = sekret2
# Use the next 4 fields if using OAuth
#spoor_oauth_key = identica_consumer_key
#spoor_oauth_secret = identica_consumer_secret
#access_token = identica_user_access_token
#access_token_secret = identica_user_access_token_secret

[ twitter ]
tag = t
process_post = s/ #bm\b.*$//
# Twitter only supports OAuth now :-/
spoor_oauth_key = twitter_consumer_key
spoor_oauth_secret = twitter_consumer_secret
access_token = twitter_user_access_token
access_token_secret = twitter_user_access_token_secret

[ delicious ]
tag = bm
username = gavincarr
password = sekrit1

[pinboard]
tag = bm
forwarder = Delicious
endpoint = https://api.pinboard.in/v1/
username = gavincarr
password = sekrit3

