SPOOR_HOME=/path/to/spoor
# Uncomment the following if you want to allow connections to self-signed ssl services
#PERL_LWP_SSL_VERIFY_HOSTNAME=0

# Run spoor forwarders every minute (uncomment to activate)
#* * * * * $SPOOR_HOME/bin/forwarder --target identica
#* * * * * $SPOOR_HOME/bin/forwarder --target twitter
#* * * * * $SPOOR_HOME/bin/forwarder --target delicious
#* * * * * $SPOOR_HOME/bin/forwarder --target pinboard
# PubSubHubbub also requires 'pshb_hub' to be set in spoor.conf
#* * * * * $SPOOR_HOME/bin/forwarder --target PubSubHubbub

# vim:ft=crontab

