SPOOR_HOME=/path/to/spoor

# Run spoor forwarders every minute (uncomment to activate)
#* * * * * $SPOOR_HOME/bin/forwarder --target identica
#* * * * * $SPOOR_HOME/bin/forwarder --target twitter
#* * * * * $SPOOR_HOME/bin/forwarder --target delicious
#* * * * * $SPOOR_HOME/bin/forwarder --target pinboard

# vim:ft=crontab

