# Spoor config file

# -------------------------------------------------------------------------
# Global settings

# Title
title = @somerandomguy's microblog

# Instance secret - change this to a random string of your choice
# (used for generating secure signed cookies)
secret = f097c174-12bb-4ae2-9d64-a108f7d94024

# URL for this spoor instance
url = https://spoor.example.com:3000

# Authentication settings
username = username
password = sekrit

# Delay in seconds before new posts begin to be forwarded on (for review/correction etc.)
publish_delay = 120

# Number of posts to display in html and feed interfaces
display_limit = 50

# Avatar - either a full url or a file in the public/images directory (optional)
#avatar = /images/avatar.png
# You can also use a custom favicon if you wish
#avatar_favicon = /images/avatar_favicon.png



# -------------------------------------------------------------------------
# Tag configuration - three kinds of special tags need to be defined here:
# 'default' tags, 'reset' tags, and 'private' tags.
#
# Default tags are tags that are automatically added to posts i.e. they
# don't have to be explicitly specified each time. This is just to make
# your 'normal' usage easy e.g. you might make #i for identica and #t for
# twitter default tags, but leave other endpoints like #bm, for bookmarks, 
# and #fb facebook as standard tags, which you'd add explicitly to use.
# 
# Reset tags are used to turn off all default tags, so that only tags
# explicitly present on the post will be used. I tend to use #nf 
# ('no-forward')for this. Note that default tags are also treated as reset
# tags if they're added explicitly.
#
# Private tags are used to mark a post as private i.e. not intended for
# public consumption. Private tags are not displayed in the web interface
# or in feeds. This also means that private posts cannot be forwarded,
# since the forwarders drive off the feeds.
#
# Format is:
# [ <tag_label> ]                   - (required) documentation only
# tag    = <tag>                    - (required) hashtag text
# type   = default|reset|private    - (optional) default or reset tags (described above)
# remove = yes|no                   - (optional) whether to remove the hashtag from posts
#                                                before forwarding

[ noforward ]
tag = nf
type = reset

[ private ]
tag = pri
type = private

[ identica ]
tag = i
type = default
remove = yes

[ twitter ]
tag = t
type = default
remove = yes

