# Spoor config file

# -------------------------------------------------------------------------
# Global settings

# URL for this spoor instance
url = https://spoor.example.com:3000

# Authentication settings
username = username
password = sekrit

# Delay in seconds before new posts begin to be forwarded on (for review/correction etc.)
publish_delay = 120

# Number of posts to display in html and feed interfaces
display_limit = 50


# -------------------------------------------------------------------------
# Tag configuration - two kinds of special tags need to be defined here:
# 'default' tags and 'reset' tags. 
#
# Default tags are tags that are automatically added to posts i.e. they
# don't have to be explicitly specified each time. This is just to make
# your 'normal' usage easy e.g. you might make #i for identica and #t for
# twitter default tags, but leave other endpoints like #bm, for delicious, 
# and #fb facebook as standard tags, which you'd add explicitly to use.
# 
# Reset tags are used to turn off all default tags, so that only tags
# explicitly present on the post will be used. I tend to use #pri (for 
# private) for this. Note that default tags are also treated as reset tags 
# if they're used explicitly.
#
# You can optionally define other tags here too, usually so you can
# associate one or more 'url' values with them.
#
# Format is:
# [ <tag_label> ]           - internal use only
# tag    = <tag>            - (required) hashtag text
# type   = default|reset    - (optional) default or reset tags (described above)
# url    = <url>            - (optional) url associated with this service
# remove = yes|no           - (optional) whether to remove the hashtag from posts

[ private ]
tag = pri
type = reset

[ identica ]
tag = i
url = http://identi.ca/gavincarr
type = default
remove = yes

[ twitter ]
tag = t
url = http://twitter.com/gavincarr
type = default
remove = yes

[ bookmark ]
tag = bm
url = http://delicious.com/gavincarr

[ facebook ]
tag = fb

[ obsolete ]
tag = mb

